* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$white : #c4c4c4;
$blue: rgb(38, 120, 220);

body{
    background: rgb(21, 33, 53);
    color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
    height: 100vh;
}

.container{
    margin-top: 100px;
    h1{
        margin-bottom: 30px;
        font-size: 25px;
    }
    .error-msg{
        color:red;
        margin: 0 0 5px 15px;
        display: none;
    }
}


form, .box-user{
    background: rgb(31, 48, 77);
    width: 550px;
    padding: 15px;
    border-radius: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    input, button{
        border: none;
        outline: none;
        font-family: 'Space Mono', monospace;
    }
    input{
        background: none;
        width: 70%;
        color: $white;
        place-content: $white;
        font-size: 16px;
        

    }
    button{
        background: rgb(38, 120, 220);
        padding: 10px 16px;
        color: white;
        border-radius: 5px;
        &:hover{
            background: rgb(50, 76, 108);
        }
    }
    i{
        color: rgb(38, 120, 220);
        font-size: 18px;
    }
}
::placeholder{
    color: $white;
    opacity: 1;
}
.box-user{
    display:flex;
    padding: 30px;
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 20%;
        margin-right: 20px;
        background-color: grey;
    }
    
    .infos{
        width: 100%;
        .general{
            h2{
                letter-spacing: 1.5px;
            }
            .username{
                color: $blue;
                margin-bottom: 20px;
            }
        }
        .follow{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            width: 100%;
            padding: 10px 20px;
            background-color: rgb(21, 33, 53);
            border-radius: 5px;
            margin: 25px auto;
            div > p:first-child{
                font-size: 14px;
            }
            div > p:nth-child(2){
                font-size: 20px;
                font-weight: bold;
            }
        }
        .links i{
            width: 30px;
            font-size: 18px;
        }
        .city{
            margin-bottom: 5px;
        }
    }
    
}
